<h1>Tactical Overview</h1>
<p>
  This is the TAC page of the I4Y NOC
</p>
<table class="tac hosts">
	<th> </th>
	<th> Up</th>
	<th> Down</th>
	<th> unknown</th>
	<th> unreachable</th>
	<tr>
		<td>overall</td>
		<td> 1</td>
		<td> 1</td>
		<td> 1</td>
		<td> 1</td>
		<tr>
		<td>acknowleged</td>
		<td> 0</td>
		<td> 0</td>
		<td>0</td>
		<td> 1</td>
	</tr>
</tr>
</table>

<p>
contact me <a href="mailto:smueller@internet4you.de">here</a>
</p>

